<!-- Box Shadow -->
<div class="u-shadow-v1-4 g-line-height-2 g-pa-40 g-mb-30 float-left mr-3 text-center" role="alert">
  <h3 class="h6 g-font-weight-300 g-mb-20"><%= data.name %></h3>
  <p class="m-1">
    <%= rating_for data, 'service' %>
  </p>
</div>
<!-- End Box Shadow -->