<!-- Second Nav -->
<nav class="js-mega-menu navbar navbar-expand-lg sticky-top hs-menu-initialized hs-menu-horizontal highlight2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <a href="#!" class="btn btn-lg u-btn-primary u-btn-hover-v2-1 g-mr-10 g-mb-15">Storefront</a>
          <a href="#!" class="btn btn-lg u-btn-primary u-btn-hover-v2-2 g-mr-10 g-mb-15">Doctor</a>
          <a href="#!" class="btn btn-lg u-btn-darkgray u-btn-hover-v2-1 g-mr-10 g-mb-15">Smoke Spot</a>
        </div>
      </div>
  </div>
</nav>