<!-- Page Title -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
<!-- Parallax Image -->
<div class="divimage dzsparallaxer--target w-100 g-bg-cover " style="height: 140%; background-image: url('<%= asset_path('splash.png') %>;'); "></div>
<!-- End Parallax Image -->

<div class="container text-center g-py-100--md g-py-80">
  <h2 class="h1 text-uppercase g-font-weight-600 g-mb-30 g-color-white"><span class="highlight">Easiest way to find a Dispensary</span></h2>

  <!-- Search Form -->
  <form class="g-width-60x--md mx-auto">
    <div class="form-group g-mb-20">
      <div class="input-group u-shadow-v21 rounded g-mb-15">
        <input id="search" class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text">
        <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
          <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
            Find Dispensary
          </button>
        </div>
      </div>
    </div>
  </form>
  <!-- End Search Form -->
</div>
</section>
<!-- Page Title -->